<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- 기존 설정... -->

    <!-- MyBatis 쿼리 로그 설정 -->
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <!-- MyBatis 쿼리 로그 파일 설정 -->
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
        <RollingFile name="QUERY_LOG_FILE" fileName="./logs/mybatis_query.log" filePattern="./logs/mybatis_query.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <!-- MyBatis 로거 설정 -->
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="QUERY_LOG_FILE" />
        </Root>
        <Logger name="jdbc.audit" level="ERROR" additivity="false">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="QUERY_LOG_FILE" />
        </Logger>
        <Logger name="jdbc.resultset" level="ERROR" additivity="false">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="QUERY_LOG_FILE" />
        </Logger>
        <Logger name="jdbc.connection" level="ERROR" additivity="false">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="QUERY_LOG_FILE" />
        </Logger>
        <Logger name="jdbc.sqlonly" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="QUERY_LOG_FILE" />
        </Logger>
        <Logger name="jdbc.sqltiming" level="OFF" additivity="false">
            <AppenderRef ref="CONSOLE" />
            <AppenderRef ref="QUERY_LOG_FILE" />
        </Logger>
    </Loggers>

    <!-- 추가 설정... -->
</Configuration>
