<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    <properties resource="application.properties" />
    <typeAliases>
        <typeAlias type="com.nifou.m.ifou_mobile_was.user.model.vo.UserInfo" alias="userInfo"/>
        <typeAlias type="com.nifou.m.ifou_mobile_was.user.model.vo.UserUauth" alias="userUauth"/>
        <typeAlias type="com.nifou.m.ifou_mobile_was.dashBoard.model.vo.DashBoardInfo" alias="dashBoardInfo"/>
        <typeAlias type="com.nifou.m.ifou_mobile_was.common.model.vo.MenuInfo" alias="menuInfo"/>
        <typeAlias type="com.nifou.m.ifou_mobile_was.common.model.vo.CommonInfo" alias="commonInfo"/>
        <typeAlias type="com.nifou.m.ifou_mobile_was.common.model.vo.ColumnsInfo" alias="columnsInfo"/>
        <typeAlias type="com.nifou.m.ifou_mobile_was.result.model.vo.ResultInfo" alias="resultInfo"/>
    </typeAliases>
<!--    <mappers>-->
<!--        <mapper resource="mybatis.mapper.UserMapper.xml"/>-->
<!--    </mappers>-->
</configuration>


